[2012-04-26 08:02] pgleeson opened #1 "Add link to WormBase page in each cell's description"
For example: http://www.wormatlas.org/neurons/Individual%20Neurons/ADAframeset.html.

This is best done using a custom Python script

[2012-07-11 15:19] pgleeson opened #2 "Sync channel descriptions with Muscle model standalone"
Update channel names/props in this project with those Mike Vella's developing at: https://github.com/openworm/muscle_model

[2012-11-28 16:20] pgleeson opened #3 "Remove Glutamate_GJ etc in neuroConstruct project"
These names have been given to the "neurotransmitter" in the XL spreadsheet for gap junctions, e.g.

AIAL    ASIL    GapJunction    2    Acetylcholine_GJ

However, this only means: There are 2 gap junction connections between AIAL and ASIL (and AIAL's chemical synapses' neurotransmitter is Acetylcholine)

Thankfully there is an equivalent entry for the other direction too:

ASIL    AIAL    GapJunc

[2013-02-06 16:19] #1 closed, assigned to pgleeson

[2013-02-06 16:20] #3 closed, assigned to pgleeson

[2013-02-06 16:21] #2 closed, assigned to pgleeson

[2014-05-09 12:57] tarelli opened #10 "What am I doing wrong?"
@pgleeson, I am trying to run c302.
I am getting this and I am not sure what I am missing:

[code]

I have libNeuroML==0.1.9.1 installed.
Also before getting to this point I had to install the following python libraries, which was not documented, did I do something wrong?

airspeed
jsonpickle
numexpr
tables
Cython
xlrd

[2014-05-09 13:06] #10 closed, assigned to nobody

[2014-06-20 18:39] slarson opened #13 "Can't get NEURON to open hoc file generated from PVDL morphology"
This was reported by a contributor:

[2014-06-22 17:56] slarson opened #14 "'No module named airspeed' when running test.sh under c302 first time"
Worse yet, when trying to install it, I got this:

According [to this](http://stackoverflow.com/questions/18230956/could-not-find-a-version-that-satisfies-the-requirement-pytz) the message "Could not find a version that satisfies the requirement airspeed" is:

I get that I can go ahead and install it using pip install airspeed --pre but maybe we shouldn't be using airspeed if there won't be a good

[2014-06-22 17:59] slarson opened #15 ""ImportError: cannot import name IafCell" when running test.sh under c302"
I am using the latest version of libNeuroML built from its current development branch.  What version should I be using @pgleeson ?

[2014-07-10 15:07] #15 closed, assigned to nobody

[2014-07-24 22:29] wilzh40 opened #17 "Problem with NeuroML loaders and individual cell .nml"
When I try running the c302_A.py, I had an error:
`Not a valid NeuroML 2 doc: (<type 'exceptions.AttributeError'>, AttributeError('nsmap',), <traceback object at 0x10cf053f8>)`

After doing some debugging it seems that the individual morphology files of the cells cannot be read for me.

 `cell_file = '../../generatedNeuroML2/%s.nml'%cell`
Any thoughts?

[2014-07-25 07:16] #17 closed, assigned to nobody

[2014-09-11 01:04] slarson opened #18 "Replace the _GJ .nml files with an "innexin" model"
The _GJ generated .nml files are present in the generatedNeuroML2 directory.  Worse, they don't have implementations so the dynamics make no sense.  We should replace them all with some kind of "innexin".  This also means modifying celegans.net.xml

- [ ] Modify celegans.net.xml anywhere there is a reference to some _GJ "synapse", change to "innexin"
- [ ] Identify a NeuroML gap junction model wit

[2015-01-27 10:52] pgleeson opened #20 "Clean up/check neuroConstruct project & generated NeuroML files"
The CElegans neuroConstruct project and the files generated from this in [generatedNeuroML](https://github.com/openworm/CElegansNeuroML/tree/master/CElegans/generatedNeuroML) and [generatedNeuroML2](https://github.com/openworm/CElegansNeuroML/tree/master/CElegans/generatedNeuroML2) predate all of the more recent work with [c302](https://github.com/openworm/CElegansNeuroML/tree/master/CElegans/pyth

[2015-01-27 11:33] pgleeson commented on #14
Better instructions for installing c302 have been added here: https://github.com/openworm/CElegansNeuroML/tree/master/CElegans/pythonScripts/c302#to-install--test

[2015-01-27 11:33] #14 closed

[2015-01-27 12:42] pgleeson commented on #13
Retested this with commit https://github.com/openworm/CElegansNeuroML/commit/00b02304e08d8343519d98f97477b58d401fe410 and now works

[2015-01-27 12:42] #13 closed

[2015-01-29 15:54] pgleeson commented on #18
The cleanups in #20 have resolved this. There is now only one _GJ.nml file in the generated nml2 files, [Generic_GJ.nml](https://github.com/openworm/CElegansNeuroML/blob/master/CElegans/generatedNeuroML2/Generic_GJ.nml), which is used for all gap junction connections in [CElegans.net.nml](https://raw.githubusercontent.com/openworm/CElegansNeuroML/master/CElegans/generatedNeuroML2/CElegans.net.nml)

[2015-01-29 15:54] #18 closed

[2015-03-13 19:03] VahidGh opened #24 "Change the path for c302tuner.py"
Trying to double check [this code](https://github.com/openworm/CElegansNeuroML/blob/a76039fd1b3bccd9c613524730731fff067e27af/CElegans/pythonScripts/c302/tune/c302tuner.py) ...
I guess the path for this script should be changed :)

    if not os.path.isfile('c302.py'):
        print('This script should be run from dir: CElegansNeuroML/CElegans/pythonScripts/c302')
        exit()

[2015-03-16 10:34] pgleeson commented on #24
Yes, that file should be run one directory up with

    python tune/c302tuner.py

As mentioned that's still in development. Plenty more to be done there...

[2015-03-17 17:13] pgleeson commented on #24
Some good progress here...

    python tune/c302tuner.py -opt

will run neurotune (my forks of neurotune & pyelectro...) using pyNeuroML and tune the NeuroML2 model, changing only leak_cond_density, k_slow_cond_density, k_fast_cond_density, ca_boyle_cond_density & specific_capacitance and try to match the [experimental data](https://github.com/openworm/muscle_model/blob/master/pyramidal_implementa

[2015-03-18 07:07] VahidGh commented on #24
@pgleeson, thanks for your attention :)
Updated repos, but my output was a little different!

![image](https://cloud.githubusercontent.com/assets/6655104/6695160/4a31995c-ccf4-11e4-8566-f32f35d521ff.png)

Would you please shed more light on my way by answering these questions:
1. How do we decide on which values to choose for min-max constrains and weights?
2. What is the fitness function based on

[2015-05-11 19:41] travs opened #25 "Draft workflow outline for validation tests"
Create a drawing something like [the one we made for ChannelWorm's validation tests](https://cloud.githubusercontent.com/assets/7369273/7517933/7d752578-f4b2-11e4-8f0c-3335031a85e6.png), with each step concrete, then work on making a template for such a test.

[2015-05-22 16:23] #24 closed

[2015-06-05 04:27] CliffracerX opened #26 "Question on simulations"
What brought me here was the video of the simulated brain controlling the Lego robot, found out about it while reading about general AI stuff.

How would one go about setting up something like that?  Is it a fairly complicated process, or could I set it up in something like Unity3d, even potentially dusting off my old Mindstorms set and trying to set the thing up on that?

[2015-06-05 15:22] pgleeson commented on #26
@CliffracerX, you should find some information related to that on http://www.connectomeengine.com

[2015-06-05 15:28] CliffracerX commented on #26
I grabbed the GoPiGo code, as I'm imagining that it could have stuff that may be of use to me.  Good thing I took a Python class recently!  :p

[2015-06-06 02:41] CliffracerX commented on #26
Well, I got it working using the help of IronPython, seems to work fine for the most part, with the exception of the food sensors.  Getting a direct view of the food from a specific distance seems to shut off all neural activity until the food is removed from sight.  Any idea why it might be doing that?  Should I post some code or videos?

[2015-06-09 10:10] pgleeson commented on #26
Best person to talk to about this is probably Tim Busbice at the Connectome Engine. He should be able to help you.

[2015-06-13 16:19] #26 closed

[2015-06-16 20:03] travs opened #27 "Adapt current data loading process in c302.py to pull data from PyOpenWorm"
This data includes:
- [ ] Connectivity pattern
- [ ] Neurotransmitters
- [ ] Synaptic weights
- [ ] Neuron names

There was a start on this in #11 #12, but these are a bit out of date.

[2015-06-16 20:07] travs opened #28 "Write tests verifying that c302 data matches data from PyOpenWorm"
These tests should use the NeuroML2 python library to read c302 and compare key features to the contents drawn from PyOpenWorm to be sure they are consistent.

Depends on #27 being completed.

[2015-06-16 20:20] travs commented on #20
How extensively do you think we should be rearranging things? Does this issue need its own milestone potentially?

[2015-06-16 20:23] travs opened #29 "Make sure there are examples in the README for key functions of c302"

[2015-06-16 20:23] travs opened #30 "Run c302 README examples in doctests"
This depends on #29 being completed.

[2015-06-16 20:24] travs opened #31 "Run tests using the nose framework rather than standard unittests"
- [ ] Update any existing tests to be able to be run with Nose (may require renaming)
- [ ] Update the .travis.yml to use nose

[2015-06-16 20:36] travs opened #32 "Validate two tests of c302 connectivity using SciUnit"
Test of functionality to make sure that any pair of neurons that are structurally connected are functionally influencing each other when simulated (both gap junctions and synapses).

The two
- [ ] Implement the two tests
- [ ] Add to the standard tests suite being run with SciUnit

@ahrasheed let's discuss this at the hackathon! Can you link to the similar past work you've done?

@rgerkin this wil

[2015-06-16 20:40] travs commented on #28
@aribrich are you able to make it to the hackathon this Sunday? If so, this would be a good issue to discuss relative to your work on #23.

[2015-06-16 20:42] travs opened #33 "Document the tests in c302"
Add docstrings to each test class that describe what the test is doing.

[2015-06-17 12:54] ahrasheed commented on #32
Previously we developed very rudimentary unit tests present [here](https://github.com/openworm/CElegansNeuroML/tree/master/CElegans/pythonScripts/c302/unittests) in [c302](https://github.com/openworm/CElegansNeuroML/tree/master/CElegans/pythonScripts/c302) that take connected neuron pairs from the spreadsheet data source and check whether the connection exists after the .nml files (which are the n

[2015-06-17 14:52] aribrich commented on #28
@travs I'm planning on going right now. I had submitted a program that would make this comparison, but I'm not sure where we stand on that issue at the moment. Because of that I haven't really done any coding for this in a while. What were you thinking in this regard?

[2015-06-17 15:12] pgleeson commented on #20
The neuroConstruct files have been cleaned up/retested and new issues should be opened when there are new tasks related to this (e.g. importing c302 generated nets into nC)

[2015-06-17 15:12] #20 closed

[2015-06-17 15:22] pgleeson commented on #31
There are a number of tests in place already using the OMV framework. See https://github.com/OpenSourceBrain/osb-model-validation for more details.

[2015-06-17 17:56] pgleeson commented on #28
The [issue I just created](https://github.com/openworm/PyOpenWorm/issues/152) is quite relevant for this issue & the pull request.

[2015-06-17 19:30] travs opened #34 "Make a best guess for ion channels in relevant cells"
Best guesses for:

- [ ] AS01
- [ ] AS02
- [ ] DA01
- [ ] DA02
- [ ] DB01
- [ ] DD01
- [ ] SMDDL
- [ ] SMDDR

A start on this here: openworm/openworm#31

[2015-06-17 19:33] travs opened #35 "Embed best-guess ion channels in motor/neuron cell models"
Best guesses for:

- [ ] AS01
- [ ] AS02
- [ ] DA01
- [ ] DA02
- [ ] DB01
- [ ] DD01
- [ ] SMDDL
- [ ] SMDDR

#34 is a prerequisite to this.

[2015-06-17 19:35] travs opened #36 "Create validation tests for all synapses"
This will include verifying that neurotransmitter identity and synaptic strengths are correct, given their data source (PyOpenWorm).

[2015-06-17 19:36] travs opened #37 "Create validation tests for all gap junctions between key motor neurons"
Tests must be created for connections between each of:

- [ ] AS01
- [ ] AS02
- [ ] DA01
- [ ] DA02
- [ ] DB01
- [ ] DD01
- [ ] SMDDL
- [ ] SMDDR

This will include verifying that identity and conductance are correct, given their data source (PyOpenWorm).

[2015-06-17 19:43] travs opened #38 "Verify that the neurons, channels and parameters for this subnetwork are visible in the model completion dashboard"
This relies on the [model completion dashboard being finished.](https://trello.com/c/UL6pqUuL/37-channelworm-augment-web-app-to-contain-model-completion-dashboard-with-connections-to-pyopenworm)

[2015-06-17 22:36] travs opened #39 "Construct target quantitative/qualitative electrophysiological behaviour"
- [ ] collect papers from the literature that may contain the type of information we want
- [ ] collect data from those papers (plots, tables, etc.)

[2015-06-20 23:48] travs opened #40 "Create appropriate tests to constrain motor neuron network parameters within physiological bounds"
- [ ] Create a list of the relevant parameters
- [ ] Research the bounds of each of the parameters

We can write the tests using regular unit tests, and also with SciUnit tests.

[2015-06-20 23:50] travs opened #41 "Create a multi-level optimization scaffold that tunes motor neuron network parameters to fit within physiological bounds"
This scaffold must be capable of integrating tests to hold network components within their physiological bounds while also meeting a target behaviour for the *overall network*.

[2015-06-20 23:51] travs opened #42 "Run multi-scale optimization for motor neuron network"
Optimization must be run across channels, synapses, gap junctions, current density and network activity to meet targets.

Depends on #41

[2015-06-20 23:52] travs opened #43 "Run/visualize motor neuron network in Geppetto"
This can be done using the connectivity widget and plotting activity of channels, synapses, gap junctions and cell membranes.

[2015-06-20 23:53] travs opened #44 "Design WormSim UI additions for the muscle neuron model"
Features would include ability to explore the network, including documentation and citation of the paper we are referencing.

[2015-06-20 23:55] travs opened #45 "Full implementation in WormSim"
This would include:

- [ ] Import network into WormSim
- [ ] Run the network
- [ ] UI is implemented (#44)
- [ ] New network is fully deployed to public

[2015-06-21 16:56] pgleeson commented on #27
It would certainly be possible to start work on a PyOpenWormReader equivalent of [SpreadsheetDataReader.py](https://github.com/openworm/CElegansNeuroML/blob/master/CElegans/pythonScripts/SpreadsheetDataReader.py) now. Note that openworm/PyOpenWorm#152 would have to be solved before this would be replaced in c302 though. Then the neurons, (muscles), conns returned from readXFromSpreadsheet & readXF

[2015-06-21 17:04] pgleeson commented on #34
As mentioned in the hackathon... might be best in the short to medium term to aim for 1 working, data constrained, canonical/generic neuron model & 1 generic muscle model & use these for all neurons/muscles in networks.

[2015-06-22 08:53] pgleeson commented on #41
That's what this is for: https://github.com/openworm/CElegansNeuroML/blob/master/CElegans/pythonScripts/c302/tune/c302NetTuner.py.

Work in progress...

[2015-06-22 14:38] ahrasheed commented on #27
@travs @slarson @pgleeson

I have made a new version of [OpenWormReader](https://github.com/ahrasheed/CElegansNeuroML/blob/master/CElegans/pythonScripts/OpenWormReader.py) in my fork of CElegansNeuroML. It is based on the code written by @mwatts15 . This version works with the latest version of PyOpenWorm.

[code]

The script is pretty slow because of the way it is written right now. I couldn't fi

[2015-06-23 02:11] travs commented on #27
@ahrasheed
Thanks for adapting this script, I am running it locally and seeing the same issues you mention.
This is currently the only way to get data, but you are correct, the methods can be greatly improved.
I've moved the speed issue over to openworm/PyOpenWorm#162.

As for your points on the data discrepancy, these are due to loading from different data sources, an issue which is currently bei

[2015-06-23 21:28] travs commented on #28
@aribrich The issue @pgleeson is referring to will be resolved soon, and then we can move forward on getting your code incorporated. Is the program you're speaking of #23 ?

[2015-06-30 13:39] travs commented on #27
@ahrasheed
Hi Abdullah, it looks like openworm/PyOpenWorm#152 is very close to closing.

I think you can open a pull request on this repo now, and we'll look at next steps together upon merging.

Thanks again for the contribution!

[2015-06-30 13:44] travs commented on #28
@ahrasheed
Your work on #27 is relevant to this as well. Would you be interested in taking this issue on, in tandem with @aribrich ?

[2015-06-30 20:46] ahrasheed commented on #27
@travs Cool. My only concern would be that use of the script to load data from PyOpenWorm, would be impractical until the two issues you recently opened ([this](https://github.com/openworm/PyOpenWorm/issues/162) and [this](https://github.com/openworm/PyOpenWorm/issues/163)) are resolved. However, since I am not replacing the data loading mechanism in c302 just yet, I think they can also be resolve

[2015-06-30 22:07] ahrasheed commented on #28
@travs Sure. The [comparison script](https://github.com/openworm/CElegansNeuroML/pull/23) by  @aribrich raises important questions over the differences between the two spreadsheets.

I think this issue is redundant, considering that right now the difference between connectome in c302 and PyOpenWorm is the same difference that exists between the spreadsheets CElegansNeuronTables.xls and NeuronConne

[2015-07-02 15:58] travs commented on #27
@ahrasheed
I agree; let's leave this open until those are resolved.

Regarding your second point, I had a look at NeuronConnect.xls in excel ([using the first method here](https://support.office.com/en-sg/article/Count-unique-values-among-duplicates-8d9a69b3-b867-490e-82e0-a929fbc1e273)) and I am calculating **280** unique neurons making connections, further highlighting the need for https://githu

[2015-07-02 16:16] ahrasheed commented on #27
@travs yes, that is correct. There are **299** connected cells in CElegansNeuronTables.xls and there **3** known unconnected neurons.

[2015-07-02 21:08] travs commented on #28
@ahrasheed That makes sense; perhaps we can rename the issue to reflect what this change would entail (something like "Change data source to PyOpenWorm in unit tests").

Since this is a separate issue form #27, I propose we keep this one open until the requisite changes are made in the unit tests (even if it is only a few lines).

So essentially, this also depends on https://github.com/openworm/Py

[2015-07-02 21:40] travs commented on #27
@ahrasheed
Ok right. I've mentioned you in the gitter chat to have a more fine-grained discussion about this.

The differing data sources problem is actually being tracked over in https://github.com/openworm/PyOpenWorm/issues/152, so anything that comes out of our chat let's raise over there.

[2015-07-02 22:55] ahrasheed commented on #28
Agree with the name change. Thanks

[2015-07-03 07:25] pgleeson commented on #28
@ahrasheed @travs I agree with that assessment too...

[2015-07-18 22:00] slarson opened #47 "Create a setup.py for CElegansNeuroML & c302"
Currently candidate contributors [are running](https://gitter.im/openworm/muscle_model?at=55a54cd42c7ce75c0a8908f7) [into](https://gitter.im/openworm/muscle_model?at=559b0b7960f8b4c531f1fd5b) [difficulties](https://gitter.im/openworm/muscle_model?at=559eca8ed43569db7b080240) trying to follow the procedures listed to install c302.  A setup.py that is complete and is run both by travis-ci as well as

[2015-07-18 22:27] slarson commented on #27
@stevenjcook Can you have a look at this?  This will become moot as we are also integrating your new data spreadsheet openworm/PyOpenWorm#168 but for historical purposes, we are confused as to why [the spreadsheet](http://www.wormatlas.org/images/NeuronConnect.xls) [on WormAtlas](http://www.wormatlas.org/neuronalwiring.html) Seems to only have ~279-280 connected neurons instead of 299?  It looks l

[2015-07-21 04:38] kevcmk commented on #31
Currently looking into running PyOpenWorm tests with Nose.

@pgleeson I'm new to the project, how do the OMV tests relate to our current tests/test.py unit-testing configuration?

[2015-07-31 16:29] #47 closed

[2015-08-06 10:46] pgleeson commented on #31
@kevcmk OMV is a self contained framework for installing various simulators and running simulations followed by tests. It could in theory be altered to be more integrated with nose/pytest etc. but the [current usage with travis](https://github.com/openworm/CElegansNeuroML/blob/master/.travis.yml) is simple enough and the reporting of passing/failing is quite clear, e.g. [here](https://travis-ci.or

[2015-08-06 18:42] travs opened #49 "Use OpenWormReader to generate connectome"
This is closed when we are using PyOpenWorm's data via OpenWormReader (#46) to get the connectome we use in c302.

@ahrasheed

[2015-08-06 18:43] travs commented on #27
We now have OpenWormReader now, from #46, but c302 is not using it anywhere, so I made #49 to capture this.

[2015-08-07 05:22] kevcmk commented on #31
@pgleeson All we'd need to do to integrate the OMV tests would be to
1. Make sure they're collected (prepend test_ to their name or define a second filter in pytest.ini
2. Throw an uncaught exception, usually the builtin AssertionError

I've been sick in bed for a couple of days so I'm looking at the link you've posted from my phone.  I can't tell for certain, but it looks like they're more tightl

[2015-08-09 16:52] gsarma opened #50 "Create tests to catch performance regressions in specific functions"
We have been exploring writing tests for catching performance regressions in PyOpenWorm and ChannelWorm.

We need to first decide which functions should be tested for performance and then define reference behavior.  The simplest way is to check the performance relative to some simple computation, and later we can have a more sophisticated system for tracking performance and catching regressions.

[2015-08-09 16:55] gsarma opened #51 "Check for performance regressions in testing suite"
This can take advantage of the work @kevcmk and @cheelee are doing for PyOpenWorm.

@travs

[2015-08-09 16:59] gsarma opened #52 "Ensure consistent directory structure and naming schemes for tests"
We want to have a consistent structure for the testing suites across all OpenWorm repos.

See PyOpenWorm and ChannelWorm for guidelines.  If there are reasons to have different structures, then we should document that in a Readme.

@travs

[2015-08-11 08:59] pgleeson commented on #49
This really depends on https://github.com/openworm/PyOpenWorm/issues/177 getting completed.

What's still lacking in the use of these multiple connectome data sources is a rigorous analysis, comparison and documentation of the different data sets, which will become more important as the new connectome is used. Unless there's a well informed paper trail showing that the project knows about the hist

[2015-08-14 15:56] pgleeson commented on #50
@gsarma @travs happy that there's work towards a uniform approach to testing across repos. However, this can't really happen here (or in the muscle_model repo) without having a close look at OMV and how the workflow there relates to what you propose here. As mentioned to @travs the PyOpenWorm and Channelworm repos are different in that they're natively Python, whereas these 2 repos have XML model

[2015-08-14 16:06] cheelee commented on #50
@pgleeson I've been meaning to ask about OMV - that is a testing framework developed by the OSB guys to validate the models used in their codes, correct? I've been looking at https://github.com/cheelee/osb-model-validation to figure out what they are trying to do, and how it ties in with the relevant parts of our project.

Is it correct to say that OMV's Model Validation testing is somewhat differ

[2015-08-20 17:49] gsarma commented on #50
@pgleeson thank you for the elaboration.  We thought it would make sense to simply open up the issues so that discussions like these could happen and help us figure out how testing would work in different contexts.

Are there some very basic tests that could be written to get a testing suite started?  Even completely simple things are useful because new contributors will come in and see that somet

[2015-08-23 16:40] travs opened #53 "Test python scripts"
Some scripts in [this directory](https://github.com/openworm/CElegansNeuroML/tree/master/CElegans/pythonScripts) can be tested using a framework like `pytest`.

A rudimentary example would be to run [RegenerateConnectome](https://github.com/openworm/CElegansNeuroML/blob/master/CElegans/pythonScripts/RegenerateConnectome.py) and look for a `0` exit code (i.e. the script exited successfully).

Highe

[2015-08-23 16:51] pgleeson commented on #53
Have added more Python scripts that can be tested. See also note here: https://github.com/openworm/CElegansNeuroML/blob/master/CElegans/pythonScripts/README.md

[2015-09-02 11:22] pgleeson commented on #50
@gsarma I've modified the [.travis.yml](https://github.com/openworm/CElegansNeuroML/blob/master/.travis.yml) here and in the [muscle model](https://github.com/openworm/muscle_model/blob/master/.travis.yml) to run all the OMV tests separately and then run a number of other python scripts in the repos.

These non OMV tests could potentially be modified to use your framework. This would happen in the

[2015-11-18 14:34] jamiemori opened #54 "Problem installing"
I am trying to install CElegansNeuroML within a docker instance, but I am getting the following error.

[code]

[2015-11-18 19:38] pgleeson commented on #54
@jamiemori, thanks for reporting that. Testing out some updates in the [test_update_setup](https://github.com/openworm/CElegansNeuroML/tree/test_update_setup) branch.

I'm new to Docker, where are the configuration files (Dockerfile?) for setting up the repository/instance available here: https://hub.docker.com/r/openworm/openworm_test/?

[2015-11-19 16:20] pgleeson commented on #54
@jamiemori Please try again with the latest from master.

[2015-11-19 17:16] jamiemori commented on #54
I cloned the latest master and tried to install, but I'm getting similar errors:
[code]

[2015-11-20 18:56] pgleeson commented on #54
@jamiemori, I'd recommend installing libNeuroML directly from the GitHub development branch before other Python packages which might try pulling it from pip:

    git clone git://github.com/NeuralEnsemble/libNeuroML.git
    cd libNeuroML
    git checkout development
    sudo python setup.py install

[2015-11-20 23:55] jamiemori commented on #54
Okay, that worked! I was missing some packages so I had to do this beforehand:
[code]
After that I installed libNeuroML and then was able to successfully install and run CElegansNeuroML. Thank you!

[2015-11-25 00:19] #54 closed

[2016-01-07 15:24] pgleeson commented on #49
Time to revisit this since there has been progress with https://github.com/openworm/PyOpenWorm/issues/177.

Would it make sense to do this already though, before the latest changes in PyOpenWorm are merged to master? Anyone installing from master would get a different connectome than those installing from dev (or pip it seems)...

[2016-01-18 00:07] slarson commented on #49
OK; so now we've got [a release to master](https://github.com/openworm/PyOpenWorm/releases/tag/v0.6.0) :)

So folks who have been waiting on this one maybe now we can get back to it.  @ahrasheed are you up for it?  I will also comment over on #27 which has more on this.

[2016-01-18 00:08] slarson commented on #27
OK; so now we've got [a release to master](https://github.com/openworm/PyOpenWorm/releases/tag/v0.6.0) of PyOpenWorm

So folks who have been waiting on this one maybe now we can get back to it.  @ahrasheed are you up for it?  There is also commentary over on #49 but these are starting to look increasingly duplicate....

[2016-01-29 15:43] pgleeson commented on #49
OpenWormReader.py has been now updated and is being successfully tested with the latest PyOpenWorm from master.

However, the OpenWormReader takes about 3 minutes to extract the connectivity data using PyOpenWorm. Below is the log from running on Travis-CI
[code]
This needs to be sped up significantly if it's to be used for generating connections elsewhere. Also, there should be 2 methods (as in [

[2016-01-29 15:54] slarson commented on #49
Awesome!  Should this issue be closed then?

The performance issue is regrettable and has been known for a while: https://github.com/openworm/PyOpenWorm/issues/90

It would be good to turn attention back to it now.

[2016-02-03 17:09] pgleeson commented on #49
Technically this is done now, the next step of using PyOpenWorm/OpenWormReader in c302 is really covered here: https://github.com/openworm/CElegansNeuroML/issues/27. but that is unlikey to happen until performance is improved in some way...

[2016-02-03 17:09] #49 closed

[2016-02-07 01:06] slarson opened #56 "Make it easier to get at simulation results"
There have been a few calls to make it easier to see the results of simulations run from here (and c302).

Maybe we could have some discussion / thoughts on how we'd like to see that and how to accomplish it?

(cc: @aexbrown @aidanrocke @theideasmith)

[2016-02-07 20:16] theideasmith commented on #56
Maybe a Geppeto module could be storing simulation results of arbitrary components of the simulation. Then these results could be saved to a file and shared as a git repo.

[2016-02-08 00:11] AidanRocke commented on #56
I really haven't given this any serious consideration yet. But, I'll look into this problem in more detail next week and should have a response by Feb 13.

[2016-02-10 18:10] aexbrown commented on #56
One possibility that might be a useful quick visualisation would be to get the coordinates from the Saul Kato’s paper and to project simulation results into that space.  I would consider it a nice success if the trajectories looked non-random in that space.  A complementary check would be to estimate the dimensionality of the simulation results.  Even if it’s not initially like the real worm, find

[2016-02-10 19:16] theideasmith commented on #56
I got the data from Kato's paper and just sat down to run PCA on it.

I'd be interested in taking care of this visualization. Would I have to collect my own data or can someone on the team share a download link for it?

[2016-02-10 23:50] AidanRocke commented on #56
@slarson

Ok. So the first thing I tried to do was figure out what kind of results we can see so far. So I tried to follow the instructions [here](https://github.com/openworm/OpenWorm/wiki/Running-the-C.-elegans-model-in-neuroConstruct).

And I downloaded the neuron simulator. But, I encountered some difficulties:
1) **Visualization** within Neuroconstruct doesn't work. _I can't see anything even

[2016-02-11 00:05] AidanRocke commented on #56
@slarson

I would be very interested in seeing the output of the opensource brain 'CelegansNeuromechanicalGaitModulation' model. This is [apparently](https://github.com/OpenSourceBrain/CelegansNeuromechanicalGaitModulation) based on the paper by Netta Cohen.

Without starting new projects(i.e. visualizations of Saul Kato's results), I think I would first try to have a close look at the output of e

[2016-02-11 18:23] pgleeson commented on #56
See comments here about the current status of the neuroConstruct project and c302:

https://groups.google.com/forum/#!searchin/openworm-discuss/gleeson|sort:date/openworm-discuss/Qxz8LY6uKGQ/AYsTBqQBBAAJ

In short, the neuroConstruct project has not been updated recently and c302 represents the latest ideas for getting a biophysical model of the neuronal network driving worm behaviour. The problem

[2016-02-12 00:20] AidanRocke commented on #56
@pgleeson

Thank you for this clarification. But, I can't get the` pynml` command to work despite
following the installation instructions for PyNeuroML over [here](https://github.com/NeuroML/pyNeuroML). I can't run the following for example:

`pynml-channelanalysis NaConductance.channel.nml`

One thing I would suggest is that the simulation results should not appear as several separate windows. An

[2016-02-12 01:02] slarson commented on #56
First of all, thanks for everyone who is chiming in on this!

This problem is one of the key use cases for [Docker](https://www.docker.com/).  If you have a Docker environment installed, you can do the following to run the simulation results:

`docker run -ti openworm/openworm_test`

(then, within shell)

[code]
And this will render the graphs as Padraig showed -- no further messing with libraries

[2016-02-12 22:13] AidanRocke commented on #56
@slarson

Thank you for these instructions. I will try out docker this weekend.

[2016-02-14 22:55] slarson commented on #56
@AidanRocke Doing this in Geppetto would be awesome, and in fact we've proposed a google summer of code project to do exactly that (see 11.1 [here](https://incf.org/gsoc/2016#))

There isn't a single thing used for visualization -- lots of different projects do different things.

Thanks for pointing to Vispy -- hadn't been on my radar!

[2016-02-17 17:19] pgleeson commented on #56
@AidanRocke Can you give some  more details on the error getting pyNeuromL installed? What OS are you using? Can you import neuroml or pyneuroml in Python? Is there any console output when you have the error?

"And, ideally we would also have a sub-figure of the simulated worm. " There is no worm (yet) in the c302 simulations, just a subset of the neurons and perhaps some of the muscles. Early day

[2016-02-18 09:48] AidanRocke commented on #56
@pgleeson

Also, when I try pynml for anything in general I get 'command not found'. Here's more info:

1. I'm using a Mac OS Version 10.7.5
2. I can't import pyneuroml but I can import neuroml from python

[2016-02-18 20:54] lukeczapla commented on #56
greetings everyone.  I've had good success running c302 with pynml and dumping data to help theideasmith with the data from Kato et. al. 2015.  The XML seems to layout exactly what is being dumped.

Geppetto, OTOH, I have been having some major problems with.  I installed the older Java 1.6 to fulfill the compatibility requirements, and it seems to load most of the code in the kernel and the Apach

[2016-02-21 20:55] slarson opened #57 "Make OpenSourceBrain's visualization of this repo include Hive Plots"
This should tie together some recent issues that have come up.  Based on what @tarelli said (openworm/org.geppetto.docs#32) on the idea of using the widgets:

it occurs to me that in order to make it easy to have Geppetto's hive plots (openworm/OpenWorm#89) be accessible to all, that we should try to go through [OpenSourceBrain's view of this repo](http://www.opensourcebrain.org/projects/celegans)

[2016-02-21 23:28] borismarin commented on #57
I would do that for the default c302 project in live.geppetto.org as well. @slarson we can also leverage the ButtonBarWidget(TM) to pop up the hive plot - by default, every model loaded via OSB has a button for the displaying the connectivity (matrix "mode").

[2016-02-21 23:50] slarson commented on #57
Sweet!  @borismarin  Do you have a good sense for how we could break down the task into discrete actions?

[2016-02-22 00:04] borismarin commented on #57
@slarson quick brainstorming here, then we can open concrete cards:
- [] decide the best way to include qualitative information (e.g. which neurons are "sensory", which are "interneurons"...) into the NeuroML2 model (this can already be done via annotations, which can contain pretty much anything), but I don't think text parsing is the best way of solving this problem (@tarelli, @adrianq, any thou

[2016-02-22 00:32] tarelli commented on #57
[This](https://github.com/openworm/org.geppetto.core/tree/master/src/main/resources/projects/C302) is where c302 comes from in live.geppetto.core. script.js and script2.js are the two files where to add the chord plot. Note that now we have an experiment where all cells have been recorded :)

[2016-02-22 00:35] tarelli commented on #57
@borismarin I think it's a question for NeuroML as anything that doesn't come from the NML file itself will be an hack. And as for NeuroML using the annotations that would also be an hack. What's the process to propose/contribute something like this? cc pgleeson

[2016-02-22 19:25] pgleeson commented on #57
There could be some "standard" annotations in the NeuroML which could be interpreted in some convenient way by Geppetto, until we settle on an "official" set of annotations. Some already used are:

    <property tag="numberInternalDivisions" value="3"/>  (in a segmentGroup for nseg)

    <property tag="color" value="0.796875 0.0 0.19921875"/> (in a population for color)

A quick and dirty solution

[2016-02-29 22:31] lukeczapla commented on #56
Hi, we have been going through c302 and was wondering what is the best route to learn more about how each of the simulations and how they are parameterized and what we can do with c302?  There is the experimental data that we have here from Kato et al. 2015 and we want to project simulation data onto the components from the experiment.  So we have a few tools to read the ".dat" file outputs from c

[2016-02-29 22:47] slarson commented on #56
This readme is still the main docs:

https://github.com/openworm/CElegansNeuroML/tree/master/CElegans/pythonScripts/c302

note in particular the command line interface with arguments to select
specific cells:

https://github.com/openworm/CElegansNeuroML/tree/master/CElegans/pythonScripts/c302#command-line-interface

There is a start on the "Parameters_C.py" for less trivial models here:

https://g

[2016-03-07 18:45] BenjiJack commented on #56
Hi everyone, I'm new to the group. I've been poking around the past few weeks and spent this morning getting neuroConstruct and c302 up and running and working through some of the example data. I was excited to see the discussion here about Kato's very interesting [paper](http://www.cell.com/cell/abstract/S0092-8674(15)01196-4). @theideasmith and @lukeczapla, it sounds like you have made some prog

[2016-03-08 19:59] theideasmith commented on #56
@BenjiJack we have made some progress on visualizing some amount of Kato's results, though our visualizations aren't as refined as Kato; they could use some work.
![zimmer-scaled](https://cloud.githubusercontent.com/assets/6181116/13614157/1b8fc986-e53d-11e5-8ece-cb91fe4bce0c.jpg).

We also have some [code](https://gist.github.com/de0351c46c8e8ee9fe21) to deal with the[ Kato data](https://github.c

[2016-03-09 14:38] BenjiJack commented on #56
@theideasmith thank you so much for the warm welcome and congratulations on the interesting work you and @lukeczapla have done so far. Please give me a few weeks to do a deep dive into the information you sent, and I will come back to you with questions and further thoughts. Looking forward to it!

[2016-03-12 17:54] pgleeson commented on #56
@AidanRocke sorry for the delay in getting back to you. Are you sure the setup.py for pyNeuroML didn't report any errors? Have you installed using sudo? It looks like you've got libNeuroML installed fine, but not any of pyNeuroML...

@lukeczapla @theideasmith @BenjiJack  It's great to see so much enthusiasm about running similar analyses on c302 to the experimental data. I do have to point out aga

[2016-03-17 01:46] AidanRocke commented on #56
@slarson I couldn't get the docker software to run on my Mac as I need OS X 10.8 or newer but I have an OS X 10.7.5 But, I'll look into VM alternatives. I can probably use VM Ware for this just as well.

@pgleeson

Trying

`sudo python setup.py install`

does actually make a difference and I managed to get a window for Na Conductance after trying:
`
pynml-channelanalysis NaConductance.channel.nml`

[2016-03-18 00:23] AidanRocke commented on #56
@pgleeson I just realized that this problem is on my side of things, not with pyneuroml. Anyway, it looks like everything was installed properly this time. Thank you for the tips.

[2016-03-19 19:09] Jueast commented on #27
Hi, I'm trying to modify OpenWormReader.py and c302.py to pull the data from PyOpenWorm in my fork. As a result, they seem to work well jointly in my laptop.( but it takes extremely long time!:( ) [Here](https://github.com/Jueast/CElegansNeuroML/blob/master/CElegans/pythonScripts/OpenWormReader.py) you can view my OpenWormReader.py.

To make this script, I read SpreadsheetDataReader.py for referen

[2016-03-20 00:22] slarson commented on #56
@theideasmith @lukeczapla Great progress.  The pictures say 1000 words!

Despite @pgleeson 's generally sobering perspective on the state of the simulation today, I want to remind everyone that the important progress for us to make now does not depend on a fully tuned and perfect neuronal simulation.  In fact, we can make progress even with a neuronal simulation that is rather incomplete.

The key

[2016-03-20 21:11] lukeczapla commented on #56
@theideasmith and I are able to reproduce the PCA of the data with n=3 components as shown in the Figure 1 of the paper (you can see it in one of the PC1/PC2/PC3 phase plots; like in the paper, we also obtained these principal components fitted to deltaF/F0 derivative data), and there are 4 other datasets.   I'm not sure of all of the conditions involved in each of the measurements, but they are d

[2016-03-22 22:01] BenjiJack commented on #56
@theideasmith and @lukeczapla
Well done with importing Kato's data and reproducing the PCA visualizations. @theideasmith, I was able to download and run your [code](https://github.com/theideasmith/network/tree/master/Zimmer-Data-Analysis), including accessing the dictionary of Kato's data as you suggested.

I have a few thoughts and questions to build on the comments by @pgleeson @slarson and othe

[2016-03-24 17:54] pgleeson commented on #27
@Jueast thanks for the updates. Yes, OpenWormReader is much slower than the SpreadsheetDataReader, see here: https://github.com/openworm/CElegansNeuroML/issues/49.

This needs to be solved in PyOpenWorm before OpenWormReader is a viable alternative for loading the connectome in c302. See https://github.com/openworm/PyOpenWorm/issues/90

[2016-03-25 21:36] slarson commented on #56
Hi all -- as some of the information on this issue now has outgrown the original topic, I've gone ahead and created a separate repo to capture work on analyzing the dynamics of both real and simulated neurons: https://github.com/openworm/neuronal-analysis

I have created a few issues from questions raised here so we can take them up separately in turn.  Let's continue the conversation on those spe

[2016-04-01 18:20] pgleeson commented on #56
Apologies for lack of input, I've been trying to find some time to get back into c302 development. At the moment it still is pretty experimental code, so if there's no clear way it should be used it probably I probably haven't figured it out myself yet... To make it easier to see the current activity of cells in the generated networks, I've made [a script](https://github.com/openworm/CElegansNeuro

[2016-04-01 20:52] lukeczapla commented on #56
Thank you for that work!  What you are showing in the bottom figures with the analog synapses looks like something that we could work with.  I ran one of the old simulations (parameters C before this new development you've started) and it did not look good - activity did not seem to have the long events seen in fluorescence data.  I suppose that is really an extreme case of "apples to oranges" com

[2016-04-03 20:33] lukeczapla commented on #56
@pgleeson I have updated my version to the latest code on github, but I keep running into a fundamental error and I was wondering if you might know what's wrong with my installation?  It looks like pyNeuroML itself but I'm using the most recent version.  See error below:

lukes-MacBook-Pro:c302 luke$ python runAndPlot.py -fullC1
/Library/Python/2.7/site-packages/matplotlib/font_manager.py:273: Use

[2016-04-03 20:47] lukeczapla commented on #56
I have fixed it by updating my pyNeuroML version to your latest git repository code!

[2016-04-03 22:07] lukeczapla commented on #56
@pgleeson I came so close to being able to run the program, here's what ultimately made it fail (it ran for about 10 minutes before getting to this)

/0/GenericCell/caConc', 'MDR08/0/GenericCell/v', 'VD9/0/GenericCell/caConc', 'ADFL/0/GenericCell/v', 'DA7/0/GenericCell/v', 'VA6/0/GenericCell/v', 'MVL16/0/GenericCell/v', 'URYVR/0/GenericCell/v', 'MVL18/0/GenericCell/v', 'LUAL/0/GenericCell/v', 'VA3

[2016-04-08 13:49] pgleeson commented on #56
@lukeczapla have you managed to run the smaller scale models, e.g. -social? The code for reloading the data is not v efficient, and could even skip some of the points (e.g. use every 10th...) for the plots. Need to do a bit of optimisation...

[2016-04-08 14:29] theideasmith commented on #56
In terms of plotting, maybe we can move to vispy? It's meant for high performance visualizations and can be GPU accelerated.

Sent from my iPhone

[2016-04-08 14:31] theideasmith commented on #56
Additionally, numpy has a binning routine (np.digitize) which  takes averages over a sliding window on the dataset. This could reduce the quantity of data passed to the visualization while still being truer to the actual dataset.

Sent from my iPhone

[2016-04-11 22:21] slarson commented on #53
@brijeshmodi12 have a look at this as well.

[2016-04-12 08:20] pgleeson commented on #53
These are all currently tested in the [.travis.yml](https://github.com/openworm/CElegansNeuroML/blob/master/.travis.yml).

[2016-04-15 20:33] lukeczapla commented on #56
@pgleeson

Yes I ran the Social model too, and got the same error.  But this at least helps to work with this error though.

Opened Excel file: ../../../CElegansNeuronTables.xls
Loaded morphology file from: ../../generatedNeuroML2/ASHR.cell.nml, with id: ASHR, location: (-9.8, -265.625, 41.0)
Loaded morphology file from: ../../generatedNeuroML2/ASKR.cell.nml, with id: ASKR, location: (-8.0, -268.0

[2016-04-20 17:50] pgleeson commented on #56
This looks like a problem parsing/converting the entries from ax.get_xticklabels(). There were some modifications to the Matplotlib methods related to axes recently far as I can see and this code works with the latest version, so perhaps try updating to the latest matplotlib?

The real bottleneck here is the reloading/plotting as opposed to the simulation. Neuron is what's running the actual simul

[2016-05-06 16:41] pgleeson commented on #56
@lukeczapla  The latest version of the runAndPlot.py is more efficient with data loading so bigger networks should load quicker.

See also: https://github.com/openworm/CElegansNeuroML/blob/master/CElegans/pythonScripts/c302/examples/summary/README.md
generated from:

    python runAndPlot.py -all

[2016-06-04 05:00] brijeshmodi12 commented on #53
Pytest added:
All 3 files: RegenerateConnectome.py, SpreadsheetDataReader.py, OpenWormReader.py are now being tested via py.test.

Test passed successfully on Travis
[https://travis-ci.org/brijeshmodi12/CElegansNeuroML/jobs/135151497#L1717](https://travis-ci.org/brijeshmodi12/CElegansNeuroML/jobs/135151497#L1717 )

[2016-07-02 00:29] slarson opened #60 "What would it take to include activity dependent conductances?"
As per a model like this, based on calcium?

http://www.ncbi.nlm.nih.gov/pubmed/9502792

I ask, not to overcomplicate, but potentially to simplify the process of getting c302 up to the right "dynamic set point" that is needed to reproduce dynamics that we are interested in.  Perhaps rather than doing "neurotune" through all the conductances, we instead are defining set points using fewer parameter

[2016-07-03 13:08] slarson opened #62 "Can c302 with jNeuroML-NEURON take advantage of multiple CPU cores?"
I'm trying to run c302 for a long session and plot the results and I'm doing it on a multi-CPU Amazon instance.  Is there anyway to take advantage of multiple threads in doing this?

https://www.neuron.yale.edu/phpBB/viewtopic.php?f=28&t=3395

cc: @pgleeson

Thanks!

[2016-07-04 07:21] pgleeson commented on #62
Not yet, but there is work under way for jNeuroML to create parallel Neuron compatible code. This would be either through generating PyNN (though there aren't gap junctions supported there), or NetPyNE (https://github.com/Neurosim-lab/netpyne), which might have gap junction support sooner.

This will happen (soonish) because it's really needed for other large scale nets in nml2...

[2016-07-04 16:05] slarson commented on #62
OK yeah that would be great.  In order to reproduce this:

![screen shot 2016-07-02 at 11 48 04 pm](https://cloud.githubusercontent.com/assets/1037756/16566005/2eada1ba-41df-11e6-98d5-4e53cbbb6527.png)

we'd need to try to be running hundreds of **seconds** worth of simulation time.  If there are any issues related to this on various repos, let's link them in here (did a brief look on both repos b

[2016-07-05 21:19] slarson opened #63 "What would it take to replay a specific pattern of activity into certain c302 neurons during a simulation run?"
Along the lines of reproducing some neuronal activity data; I'm interested in what infrastructural pieces we would need if given a raster like the following as input and trying to hold certain cells to have calcium levels in a time-varying way and then see how the other neurons passively respond?

![screen shot 2016-07-02 at 11 48 04 pm](https://cloud.githubusercontent.com/assets/1037756/16600333/

[2016-07-12 18:42] pgleeson commented on #63
@slarson Technically you could use the c302 generated python Neuron code (as is used for sibernetic interactions) and play a single time step, adjust the properties of some cells (e.g. amplitude of a current clamp), and then run the simulation again. The cells you're forcing will be determined by you and you can look at what the rest of the cells do.

The big question is then how do you force the

[2016-07-12 18:59] pgleeson commented on #62
The bottleneck here will probably be the volume of data being saved/reloaded rather than the fact that it needs to run on multiple procesors.

One solution might be to specify in the LEMS Simulation `<OutputFile>` (e.g. [here](https://github.com/openworm/CElegansNeuroML/blob/master/CElegans/pythonScripts/c302/examples/LEMS_c302_A_Social.xml#L66)) that you only want to save every 100ms for example

[2016-10-28 12:32] pgleeson opened #70 "Running OpenWorm simulations on SpiNNaker"
A good candidate for testing OW simulations, and c302 in particular on the [SpiNNaker platform](http://apt.cs.manchester.ac.uk/projects/SpiNNaker/) would be this:

[c302_A_Social.nml](https://github.com/openworm/CElegansNeuroML/blob/master/CElegans/pythonScripts/c302/examples/c302_A_Social.nml)

It's the lowest level of complexity for the c302 model (params A: integrate & fire cells), but would be

[2016-10-28 17:08] pgleeson opened #71 "Implement parameters D"
Being worked on here: https://github.com/openworm/CElegansNeuroML/tree/params_d

- [ ] Test & merge to master
- [ ] Incorporate in [this figure](https://github.com/openworm/CElegansNeuroML/blob/master/CElegans/pythonScripts/c302/examples/summary/README.md)
- [ ] Need to load in axonal/dendritic connection locations generated from [RegenerateConnectome.py](https://github.com/openworm/CElegansNeuroM

[2016-11-17 09:34] lungd opened #73 "conn_number_override issue - AttributeError GradedSynapse.gbase"
Hi guys,

I am working on the tap withdrawal circuit which overrides some connections (conn_number_override).
The problem is that the synapses can be of type GradedSynapse so there is no syn0.gbase at line:
https://github.com/openworm/CElegansNeuroML/blob/master/CElegans/pythonScripts/c302/c302.py#L690

But there is a syn0.conductance so I guess there should be a isinstance() check?

Best,
David

[2016-11-17 21:45] slarson commented on #70
Hi guys -- thanks @pgleeson for kicking this off.  @huitzlio and I ran into each other at SFN.   Michael, this might be a good time to look into this.  I'm curious when you check this out what questions you may have about how to do something quick and dirty to get this up in SpiNNaker.  Cheers!

[2016-11-18 12:29] pgleeson commented on #73
Hi @lungd, good catch, I hadn't tested conn_number_override with the more recent parameter sets. This should be fixed in the [latest commit](https://github.com/openworm/CElegansNeuroML/commit/8c3b6f151f32b98dca421d45553db1cead34bbaa).

[2016-12-07 10:54] #73 closed

[2017-01-19 15:04] lungd opened #77 "Executing c302.py with -cells (or other list arguments) - missing parsing"
With
`python c302.py TESTNET parameters_C1 -cells ["AVAL","VA10"] -cellstostimulate ["AVAL"] -datareader SpreadsheetDataReader -duration 500`
a .nml file gets generated with 'VA1' inside it.
At line https://github.com/openworm/CElegansNeuroML/blob/master/CElegans/pythonScripts/c302/c302.py#L512 'cells' is of type 'str' but it should be of type 'list'.
This argument and other list arguments need to

[2017-01-25 15:25] #77 closed

[2017-02-14 13:55] slarson commented on #34
Worth pointing out that @a-palyanov picked out the following ion channels for pharyngeal muscles (defined by NEURON models): https://github.com/openworm/pharyngeal_muscle_model/tree/master/pm3%20muscle%20%2B%20small%20current

[2017-03-06 18:13] slarson commented on #27
@pgleeson Hello -- now with #90 greatly improved, can we give this another go?  🍻

[2017-03-08 16:38] raminmh opened #82 "Discussions on simulating the worm's crawling by means of command neurons, motor neurons and muscle cells"
In a series of documents, I will discuss the role of the command-neurons, different types of motor neurons and their connectivity with the body-wall muscle cells. The ultimate goal is to derive a valid assumption on how the crawling happens in C. elegans and accordingly, simulate the response of the worm to a tap or touch stimulus in C302 and Sibernetics. My justifications will be based on the con

[2017-03-10 17:06] pgleeson commented on #27
It would be nice, but 25 sec every time c302 generates a new network is still a bit too much...

UpdatedSpreadsheetDataReader.py by @lungd is much faster, and *should* contain the same data as PyOpenWorm (i.e. [herm_full_edgelist.csv](https://github.com/openworm/CElegansNeuroML/blob/master/herm_full_edgelist.csv))... This needs to be checked though...

[2017-03-10 18:41] slarson commented on #27
@mwatts15 @pgleeson Proposal.  What if we write a script that updates the spreadsheet out of PyOpenWorm, decoupled from the c302 network generation?

[2017-03-12 23:56] slarson commented on #82
Relevant: http://www.jneurosci.org/content/33/15/6380#sec-13

I'd suggest that these hypotheses can have tests built around them via c302 models to explore their implications.

[2017-03-23 17:33] raminmh commented on #82
## **2) Proprioception in motor neurons is key for generating the forward locomotion**

Even when all the command interneurons were knocked out, C. elegans was able to generate the crawling [1]. This suggests the significant role of motor neurons in propagation of the bending waves.

In general, rhythmic behavior is exhibited in animals thanks to the existence of neural circuits named as central p

[2017-03-25 07:40] raminmh commented on #82
This recent article could be insightful for studying the proprioceptive coupling.

A new computational method for a model of C. elegans biomechanics: Insights into elasticity and locomotion performance

Netta Cohen, Thomas Ranner

https://arxiv.org/abs/1702.04988

[2017-06-07 12:46] lungd opened #87 "Sometimes nrniv tasks don't get terminated after CTRL+C"
If I interrupt the optimizer at a certain point, multiple nrniv tasks remain running.
A sigint handler at the right place should do the trick.

[2017-07-05 13:53] pgleeson commented on #87
That's the expected behaviour, that the set of Neuron sims that have been set running will continue to completion and then exit. Or were you suggestion that they quit at the same time as the python script that set them running?

[2017-07-11 13:39] lungd commented on #87
Sorry for the delay.
I meant that the nrniv subprocesses can become zombies. At least with ubuntu and python27.

[2017-09-12 16:01] slarson commented on #82
Sub-roadmap for the nervous system simulation
------------------------------------------------

1. Achieve a targetted output from the nervous system model in whatever means possible
     1. We consider this phase to be the "engineering phase" where we are willing to make compromises on biological realism within certain boundaries.  We do want to use an accurate quantity of neurons and we want to

[2017-12-17 16:19] slarson opened #101 "Generate outline of what is the model and basic facts about c. elegans neurophysiology"
- How synaptic transmission works and what model we are using?
- What ion channel models are we using or want to use?
  - Gap junctions
  - Chemical synaptic channels
- What are the passive properties (capacitance, resistivity)?
- Breakdown of the kinds of neurons that are known (different classes)
  - Morphologies
  - Rough functional description
  - What ion channels are in which neurons?
- What

[2018-02-08 21:52] clausagerskov opened #104 "cannot import name 'ElectricalConnectionInstanceW'"
Running Windows 10 home edition, python 2.7

I have compiled sibernetic in windows and am trying to run the sibernetic_c302.py using python 2.7, but im running into trouble when the script tries to run c302.py from CElegansNeuroML. In the beginning it tries to import the class ElectricalConnectionInstanceW which doesnt exist (anymore?). Has this class been removed from neuroml?

[2018-02-09 16:20] pgleeson commented on #104
@clausagerskov It looks like you might be using an old version of libNeuroML. Make sure you have the latest from the development branch on GitHub, or do a 'pip install libneuroml'. (I should really make a new release to master soon, but that generally happens with a new beta release of all nml libraries...)

[2018-02-09 16:23] clausagerskov commented on #104
I talked to David Lung and he suggested just that, but then there is the problem of the development branch not having the realtime_output to the run_lems_with_jneuroml_neuron function which is in the master, which the sibernetic_302.py calls

[2018-02-09 16:28] pgleeson commented on #104
Note there are 2 libraries, libNeuroML where you need the development branch, and pyNeuroML, where you need the master branch and that's where run_lems_with_jneuroml_neuron is found.

[2018-02-09 17:06] clausagerskov commented on #104
Thats exactly the info i needed thanks! now i just need to find out where to get the nrnivmodl file for windows

[2018-02-14 11:43] pgleeson commented on #43
Visualising & running c302 on OSB/Geppetto working much better after OW week updates

[2018-02-14 11:43] #43 closed

[2018-02-14 11:47] pgleeson commented on #104
Ok, glad it works now.

[2018-02-14 11:47] #104 closed

[2018-02-14 12:25] pgleeson commented on #101
Good points for the c302 paper post Royal Society meeting...

[2018-02-14 12:32] pgleeson commented on #56
There have been significant improvements in how the data is generated/presented with runAndPlot.py, and how this is post processed when the sims are run through sibernetic_c302.py & with Docker support

Closing this for now and specific improvement requests can be opened as separate issues.

[2018-02-14 12:32] #56 closed

[2018-02-14 12:37] pgleeson commented on #56
Latest committed nets for c302 include colours for different cell types, which propagate through to the connectivity widgets:

![selection_590](https://user-images.githubusercontent.com/1556687/36204581-b9dc958c-1183-11e8-890e-1ee09374074b.png)

[2018-02-14 12:38] borismarin commented on #56
+1

Em 14 de fev de 2018 10:37, "Padraig Gleeson" <notifications@github.com>
escreveu:

[2018-02-14 12:45] pgleeson commented on #56
Sorry, meant above comment for #57

[2018-02-14 12:46] pgleeson commented on #57
Latest committed nets for c302 include colours for different cell types, which propagate through to the connectivity widgets incl. hive plot:

![selection_590](https://user-images.githubusercontent.com/1556687/36204966-febd7d3c-1184-11e8-9a9c-7baca3d2acda.png)

[2018-02-14 12:51] pgleeson opened #105 "Test running jnml on python3"
I've made most of the required updates for python 3 on https://github.com/openworm/CElegansNeuroML/tree/ow-0.8_py3. However there's an issue with running jnml using pyneuroml:

    python3 runAndPlot.py -iC   # Run IClamp on parameters C & plot result

works fine, but

    python3 runAndPlot.py -socialC # Run social on parameters C

fails. @lungd have you tried your code on Python3? Could you have

[2018-02-15 13:30] pgleeson commented on #105
This doesn't seem to be an issue as long as the Neuron version you're pointing to with NEURON_HOME has been compiled with Python3 (which was where the problems arose on my system).

[2018-02-15 13:30] #105 closed

[2018-02-21 13:49] pgleeson opened #107 "Move storage of images to git-lfs as opposed to checking in every time regenerated"
Particularly png file here:  https://github.com/openworm/CElegansNeuroML/tree/master/CElegans/pythonScripts/c302/examples/summary

[2018-02-21 13:52] pgleeson commented on #57
Closing this & more specific issues can be opened based on (limitations in) current OSB functionality

[2018-02-21 13:52] #57 closed

[2018-02-21 13:57] pgleeson opened #108 "Allow c302 to add new connections between specifi cells & document these as bioparameters"
In place of having to edit the herm_full_edgelist.csv file: https://github.com/openworm/CElegansNeuroML/pull/103/files#diff-0a90d206f61bd181aeabe98ef98a8887

[2018-03-01 19:50] rgerkin opened #109 "Make c302 installable"
Currently c302 is just a random, deep, subdirectory of cElegansNeuroML.  Importing it as a module in Python requires adding its location to the path.  I would like to, without changing the directory structure, give it its own setup.py file so I can pip install it (doesn't have to be on PyPI), and then be able to freely import it other python applications that then won't need to figure out where it

[2018-03-01 20:08] rgerkin commented on #109
This can be solved with something like:
[code]

which will make a `pip install` in the CElegansNeuroML root directory install the package c302.  This is how I am currently using c302 from my fork.

[2018-03-02 17:58] pgleeson commented on #109
Certainly that's the plan. Eventually the code will move here for ease of locating it: https://github.com/openworm/c302

The main thing preventing this move so far was that some of the files for c302 are located elsewhere in the CElegans repo, e.g. NeuronConnectFormatted.xlsx, and I didn't want to have multiple copies of these in different repos. It will be easier to separate them when c302 takes

[2018-03-05 21:14] rgerkin commented on #109
OK, thanks.  I currently have things set up this way in the sciunit branch of CElegansNeuroML, but also a bunch of other things that were required to make c302 and associated functions module-like and not merely script-like.  I will open a PR for it.

[2018-12-13 15:36] clbarnes opened #112 "generatedNeuroML2 directory does not include synapses"

[2018-12-13 18:00] pgleeson commented on #112
@clbarnes The NeuroML 2 model here (as well as the neuroConstruct project which generated it) have been pretty much superseded by the networks generated by c302: https://github.com/openworm/c302.

The Readme there should give an overview of the current status and  links to examples, including how to run the models and visualise them on OSB.

Let me know if anything is unclear (or there is some doc

[2018-12-13 18:59] clbarnes commented on #112
I was mainly hoping to find one data source which had both morphologies and connectivity (down to synapse location), ideally staying in one serialisation format. I'm not so interested in running models or anything. It's certainly possible I'm missing something in the c302 repo but I can't see any data source for the locations of the synapses.

[2018-12-19 15:21] pgleeson commented on #112
There is this type of information in the c302 examples, although only the examples with D or D1 feature multicompartmental cells (A, B, C are point neurons), for example:

https://github.com/openworm/c302/blob/master/examples/c302_D_Syns.net.nml

- imports this and other multicomp. cells: https://github.com/openworm/c302/blob/master/examples/cells/AIZL.cell.nml
- specifies the synapse properties,

[2020-08-10 03:30] mwatts15 commented on #27
Closing this since the relevant code has moved to c302. Relevant issue openworm/c302#10

[2020-08-10 03:30] #27 closed

[2021-06-08 11:54] pgleeson commented on #109
https://github.com/openworm/c302

[2021-06-08 11:54] #109 closed

[2022-03-14 09:12] clausagerskov commented on #101
This is still relevant and not in progress/done right?